body {
  font-family: sans-serif;
  background-color: #BBBBBB;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.marker {
  background-image: url('http://i.imgur.com/WbMOfMl.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}


.marker-small {
  background-image: url('http://i.imgur.com/WbMOfMl.png');
  background-size: cover;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.marker-large {
  background-image: url('http://i.imgur.com/WbMOfMl.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
